<footer>
  <small>
    <%= link_to 'Contact List. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>

      </li>
      <li>

      </li>
    </ul>
  </nav>
</footer>